extends layout

block content
  .div
    .container.text-center(style="margin-top: 10%")
      form(action="/search" method="post")
        .form-group
          img.img-fluid.mb-3(src="/images/logo.gif" alt="logo" style="max-width: 25%; height: auto;")
          select.browser-default.custom-select.mb-5.mt-5(name="query" style="border-radius: 1rem;" required)
            option(value="") Select a query
            each query in queries
              option(value=query.content)= query.content
          .div
            button.btn.btn-blue-grey.btn-rounded(type="submit") Buscar
            a.btn.btn-blue-grey.btn-rounded(type="button" href="/precisionandrecall") Precision
        
      
      
    
