doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/externals/css/bootstrap.min.css')
    link(rel='stylesheet' href='/externals/css/mdb.min.css')
    link(rel='stylesheet' href='/externals/font/ionicon/ionicons.min.css')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
    script(src='/externals/js/plotly-latest.min.js')
    script(src='/javascripts/pr.js')
    
    
  body(onload=" makeGraph("+JSON.stringify(result)+")")
    block content
  
script(src='/externals/js/jquery-3.4.1.min.js')
script(src='/externals/js/popper.min.js')
script(src='/externals/js/bootstrap.min.js')
script(src='/externals/js/mdb.min.js')
script(src="http://www.cloudformatter.com/Resources/Pages/CSS2Pdf/Script/xepOnline.jqPlugin.js")