extends layout

block content
    nav.navbar.navbar-expand-xl.white-color(style="border-radius: 1rem;")
        a.navbar-brand(href='/')
            img(src="/images/logo.gif", alt="", style="width:40px; height:40px;")
        button.navbar-toggler.ml-auto.custom-toggler(type='button' data-toggle='collapse' data-target='#navbar-list-8' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon 
        #navbar-list-8.collapse.navbar-collapse
            form.form-inline.my-2my-lg-0.ml-auto(action="/search" method="post")
                select.browser-default.custom-select(name="query" style="width:35%; border-radius: 1rem;" required)
                    option(value="") Select a query
                    each q in queries
                        option(value=q.content)= q.content
                button.btn.btn-outline-grey.btn-rounded.btn-sm.px-2(type="submit")
                    i.fas.fa-search
            ul.navbar-nav.ml-auto.nav-flex-icons
                li.nav-item(style="border-bottom: rgba(63, 69, 80, 1) solid 3px;")
                    a(href="/precisionandrecall") 
                        h7(style="font-weight: bold;").blue-grey-text Precision
    
    .card.mb-4.mt-5
        .card-header.text-white.stylish-color-dark.narrower.py-1.mb-3.d-flex.justify-content-between.align-items-center
            h2 Precision y Recall
            button.btn.btn-outline-white.btn-rounded.btn-sm.px-2(onclick="return xepOnline.Formatter.Format('precision',{pageWidth:'17in', pageHeight:'10in'});") PDF
        .card-body.align-items-center.justify-content.mx-auto.w-100
            #precision
              
