extends layout

block content
    nav.navbar.navbar-expand-xl.white-color(style="border-radius: 1rem;")
        a.navbar-brand(href='/')
            img(src="/images/logo.gif", alt="", style="width:40px; height:40px;")
        button.navbar-toggler.ml-auto.custom-toggler(type='button' data-toggle='collapse' data-target='#navbar-list-8' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon 
        #navbar-list-8.collapse.navbar-collapse
            form.form-inline.my-2my-lg-0.ml-auto(action="/search" method="post")
                select.browser-default.custom-select(name="query" style="width:35%; border-radius: 1rem;" required)
                    option(value="") Select a query
                    each q in queries
                        if q.content == query
                            option(value=q.content selected)= q.content
                        else
                            option(value=q.content)= q.content
                button.btn.btn-outline-grey.btn-rounded.btn-sm.px-2(type="submit")
                    i.fas.fa-search
            ul.navbar-nav.ml-auto.nav-flex-icons
                li.nav-item
                    a(href="/precisionandrecall") 
                        h7(style="font-weight: bold;").blue-grey-text Precision
    if contenido
        -var valor=0
        each n in contenido
            -valor += 1
        .card.mb-4.mt-5
            .card-header.text-white.stylish-color-dark.narrower.py-1.mb-3.d-flex.justify-content-between.align-items-center
              h2="Resultados - Documentos recuperados: "+valor
              a.btn.btn-outline-white.btn-rounded.btn-sm.px-2(href="/clean") Limpiar
            .card-body.align-items-center.justify-content.mx-auto.w-100
                .my-custom-scrollbar.my-custom-scrollbar-primary
                    .mdb-color.lighten-2.my-custom-scrollbar.my-custom-scrollbar-primary
                        .accordion.md-accordion.accordion-2(id="accordionEx7" role="tablist" aria-multiselectable="true")
                            -var contador = 0
                            each document in contenido
                                .card
                                    .card-header.rgba-stylish-strong.z-depth-1.mb-1(role="tab" id="heading"+(Object.keys(contenido)[contador]))
                                        a(data-toggle="collapse" data-parent="#accordionEx7" href="#collapse"+(Object.keys(contenido)[contador]) aria-expanded="true" aria-controls="collapse"+(Object.keys(contenido)[contador]))
                                            h5.mb-0.white-text.text-uppercase.font-thin= "D"+document.Number+" "+document.Title+"  Weight: "+document.Weight
                                                i.fas.fa-angle-down.rotate-icon
                                    .div.collapse(id="collapse"+(Object.keys(contenido)[contador]) role="tabpanel" aria-labelledby="heading"+(Object.keys(contenido)[contador]) data-parent="#accordionEx7")
                                        .card-body.mb-1.rgba-grey-light.white-text
                                            h2= "Title: " + document.Title
                                            h3= "Authors: " + document.Authors
                                            p= document.Content
                                            -contador += 1
                    